/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration:none;
}
table {
  border-spacing: 0;
}
fieldset,img {
  border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-weight: normal;
  font-style: normal;
}
strong{
  font-weight: bold;
}
ol,ul {
  list-style: none;
  margin:0;
  padding:0;
}
caption,th {
  text-align: left;

}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-size: 100%;
  margin:0;
  padding:0;
  color:#444;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border: 0;
}

/* Custom CSS
 * --------------------------------------- */

$header-color: rgba(0, 0, 0, 0.631);
$header-height: 65px;

$break-small: 320px;
$break-normal: 768px;
$break-large: 1200px;

header {
  position: fixed;
  top: 0px;
  background-color: $header-color;
  width: 100%;
  @media (max-width: $break-large) {
    height: 40px;
  }
  height: $header-height;
  z-index: 10;
  #logo {
    position: relative;
    left: 10%;
    @media (max-width: $break-large) {
      height: 30px;
      margin-top: 5px;
    }
    height: 50px;
    margin-top: 7.5px;
  }
  #nav {
    @media (max-width: $break-large) {
      display: none;
    }
    float: right;
    position: relative;
    right: 10%;
    > li {
      float: left;
      padding: 0 10px;
      &.active {
        border-right: 1px solid white;
      }
      > a {
        text-decoration: none;
        color: white;
        padding: 10px;
        line-height: $header-height;
        &.active {
          border: 1px solid white;
        }
      }
    }
  }
}

section#hero {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  > #hero-slogan {
    width: 60%;
    @media (max-width: $break-large) {
      width: 90%;
      margin-top: 40%;
    }
    margin-top: 15%;
    z-index: 2;
  }
  > #banner-slogan2 {
    @media (min-width: $break-large) {
      display: none;
    }
    position: absolute;
    top: 40%;
    left: 5%;
    max-width: 90%;
  }
  #scene-down {
    cursor: pointer;
    @media (max-width: $break-large) {
      background-size: 50% 50%;
      left: 50%;
      margin-left: -13.25px;
      bottom: 60px;
    }
    width: 53px;
    height: 30px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -26.5px;
    text-indent: -999px;
    background: url(https://combo.b.qq.com/account/hrtx/images/active/new-year-2015/icon-down.png) no-repeat;
    overflow: hidden;
    animation: sp_down 0.75s linear 0.5s infinite alternate;
  }
}

@keyframes sp_down {
    0%   {bottom: 40px;}
    100% {bottom: 20px; opacity: 0.5;}
}

section#mask {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  @media (max-width: $break-large) {
    background-size: auto 100%;
  }
  background: url('../img/hero.png');
  filter: blur(3px);
  background-size: auto 100%;
}

section#banner {
  background: url('../img/banner-back.jpg');
  @media (max-width: $break-large) {
    background-size: auto 100%;
  }
  background-size: auto 100%;
  width: 100%;
  height: 400px;
  position: absolute;
  @media (max-width: $break-large) {
    height: 300px;
  }
  top: 100%;
  > #banner-pic {
    position: relative;
    @media (max-width: $break-large) {
      left: 10%;
      height: 200px;
      top: 100px;
    }
    left: 20%;
    height: 300px;
    top: 100px;
  }
  > #banner-slogan1 {
    @media (max-width: $break-large) {
      display: none;
    }
    position: absolute;
    right: 20%;
    top: 200px;
    height: 50px;
  }
}

html {
  height: 100%;
}

body {
  background: url('../img/back.gif');
  height: 100%;
}

section#title {
  font-size: 3em;
  text-align: center;
  @media (max-width: $break-large) {
    height: 360px;
  }
  margin-top: 460px;
  > h2 {
    display: inline-block;
    border: 1px solid black;
    padding: 20px 20px 20px 0;
  }
}

#main-content {
  margin-top: 60px;
  width: 80%;
}

footer {
  margin-top: 60px;
  background-color: #535353;
  padding: 5% 10%;
  color: white;
  text-align: center;
  #footer {
    width: 100%;
    display: table;
    > .footer-column {
      width: 30%;
      @media (max-width: $break-large) {
        width: 100%;
      }
      float: left;
      clear: both;
      display: table-column;
      > #footer-logo {
        max-width: 150px;
      }
      > ul {
        text-align: left;
        > li {
          @media (max-width: $break-large) {
            margin-left: 15%;
          }
          margin-left: 20%;
          line-height: 30px;
        }
      }
    }
  }
}
