<ion-view class="log_02-view"
          style="background-color: transparent;
          box-shadow: none !important;
          margin-top: 15%;">

  <ion-nav-title>
    <span>设置</span>
  </ion-nav-title>

  <ion-content scroll="false">

    <div class="content has-tabs-top">
      <div class="col col col-80 col-offset-10">
          <label class="item item-input">
            <img src="img/mobile.png" style="width:10px">
            <input type="text" placeholder="输入手机号" style="margin-left:15px;height:48px">
          </label>
          <label class="item item-input" style="margin-top:25px;">
              <img src="img/password.png" style="width:10px">
            <input type="password" placeholder="设置一个密码" style="margin-left:15px;height:48px">
          </label>
      </div>
        <div class="row">
          <div class="col col-60 col-offset-10">
            <label class="item item-input" style="margin-top:20px;">
              <input type="number" placeholder="验证码" style="height:48px">
            </label>
          </div>

          <div class="col col-30">
            <button class="button button-clear button-positive" style="margin-top:20px;">
              获取验证码
            </button>
          </div>
        </div>

        <div class="bottom-content row">
          <div class="col col-center" style="text-align:center">
            <a class="button" style="background-image:url(img/logup_off.png);background-repeat: no-repeat;background-size:contain;margin-top:20px;width:250px;background-color:transparent" ui-sref="auth.log_03">
            </a>
          </div>
        </div>

    </div>

  </ion-content>
</ion-view>
