<ion-view class="log_05-view" cache-view="false"
          style="background-color: transparent;
          box-shadow: none !important;
          margin-top:10%;">

  <ion-nav-title>
    <span>年龄</span>
  </ion-nav-title>

  <ion-content scroll="false">

    <div class="row">
      <div class="col col-center" style="text-align:center">

        <img src="img/head.png" width="100px" height="100px" style="position:relative;left:0px;top:45px;z-index:100">

        <div class="item item-body" style="width:300px; z-index: 10; left: 50%; margin-left: -150px;border-radius:10px">
          <p style="text-align:center;margin-top:50px">
            年龄
          </p>

          <div class="bottom-content row">
            <div class="col col-center" style="text-align:center">
              <a class="button button-positive" style="width:80%;border-radius:40px;background-color:#d8d8d8" class="completed-false" ui-sref="auth.log_07">
                  下一步 2/3
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </ion-content>
</ion-view>
