<ion-view class="log_01-view"
          style="background-color: transparent;
          margin-top:15%;">
  <ion-nav-title>
    <span>DashinGO</span>
  </ion-nav-title>
  <ion-content scroll="false">

    <div style="position:absolute;bottom:20%;left:0px;width:100%">
    <div class="bottom-content row">
      <div class="col col-center" style="text-align:center">
        <button class="button" style="background-image:url(img/logo_weibo.png);background-repeat: no-repeat;background-size:contain;margin-top:20px;width:250px;background-color:transparent">
        </button>
      </div>
    </div>

    <div class="bottom-content row">
      <div class="col col-center" style="text-align:center">
        <button class="button" style="background-image:url(img/logo_weichat.png);background-repeat: no-repeat;background-size:contain;margin-top:20px;width:250px;background-color:transparent">
        </button>
      </div>
    </div>

    <div class="bottom-content row">
      <div class="col col-center" style="text-align:center">
        <a class="button" style="background-image:url(img/logo_phone.png);background-repeat: no-repeat;background-size:contain;margin-top:20px;width:250px;background-color:transparent" ui-sref="auth.log_02">
        </a>
      </div>
    </div>
  </div>
  </ion-content>

</ion-view>
