<ion-view class="log_02-view"
          style="background-color: transparent;
          box-shadow: none !important;
          margin-top: 15%;">

    <ion-nav-title>
      <span>登陆</span>
    </ion-nav-title>

    <ion-nav-buttons side="right">
      <a href="#/auth/log_03" class="button button-clear">注册</a>
    </ion-nav-buttons>

    <style>
      a.button-complete-false{
        background-color:#d8d8d8 !important;
      }
    </style>

    <ion-content scroll="false">

      <div class="content has-tabs-top">

        <div class="col col col-80 col-offset-10">
            <label class="item item-input" style="border-radius:5px">
              <img src="img/mobile.png" style="width:10px">
              <input type="text" placeholder="手机号" style="margin-left:15px;height:48px" ng-model="user.userAccount">
            </label>
            <label class="item item-input" style="margin-top:25px;border-radius:5px">
              <img src="img/password.png" style="width:10px" >
              <input type="password" placeholder="密码" style="margin-left:15px;height:48px" ng-model="user.userPassword">
            </label>
        </div>

        <div class="bottom-content row">
          <div class="col col-center" style="text-align:center">
            <a class="button button-positive button-complete-{{validate()}}" style="width:60%;border-radius:40px;margin-top:38px;" class="completed-false" ui-sref="app.tab.home">
                登陆
            </a>
          </div>
        </div>
      </div>

    </ion-content>
</ion-view>
