<ion-view class="log_05-view" cache-view="false"
          style="background-color: transparent;
          box-shadow: none !important;
          margin-top:10%;">

  <ion-nav-title>
    <span>年龄</span>
  </ion-nav-title>

  <style>
    a.button-complete-false{
      background-color:#d8d8d8 !important;
    }
  </style>

  <ion-content scroll="false">

    <div class="row">
      <div class="col col-center" style="text-align:center">

        <img src="img/head.png" width="100px" height="100px" style="position:relative;left:0px;top:45px;z-index:100">

        <div class="item item-body" style="width:300px; z-index: 10; left: 50%; margin-left: -150px;border-radius:10px">
          <p style="text-align:center;margin-top:50px">
            年龄
          </p>
          <p style="text-align:center;margin-top:5px;color:#FFAF17">
            （只用作数据计算，其他人是看不到的哦）
          </p>

          <label class="item item-input" style="border-radius:5px;text-align:center">
            <input type="text" ng-model="signUp.age" placeholder="输入年龄" style="margin-left:15px;height:48px;text-align:center">
          </label>

          <div class="bottom-content row">
            <div class="col col-center" style="text-align:center">
              <a class="button button-positive button-complete-{{isAgeValidate()}}" style="width:80%;border-radius:40px;" class="completed-false" ui-sref="auth.log_07">
                  下一步 2/3
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </ion-content>
</ion-view>
