<ion-view class="log_05-view" cache-view="false"
          style="background-color: transparent;
          box-shadow: none !important;
          margin-top:10%;">

  <ion-nav-title>
    <span>性别</span>
  </ion-nav-title>

  <ion-content scroll="false">

    <div class="row">
      <div class="col col-center" style="text-align:center">

        <img src="img/head.png" width="100px" height="100px" style="position:relative;left:0px;top:45px;z-index:100">

        <div class="item item-body" style="width:300px; z-index: 10; left: 50%; margin-left: -150px;">
          <p style="text-align:center;margin-top:50px">
            性别
          </p>
          <div class="row">
            <a class="button button-icon"  style="width:80px;height:80px;background-image:url(img/womanoff.png);background-repeat: no-repeat;background-size:contain;margin-left:20px">
            </a>
            <a class="button button-icon"  style="width:80px;height:80px;background-image:url(img/manoff.png);background-repeat: no-repeat;background-size:contain;margin-left:50px">
            </a>
          </div>
          <div class="row">
            <p style="text-align:center;margin-top:20px;margin-left:50px">
              女
            </p>
            <p style="text-align:center;margin-top:20px;margin-left:120px">
              男
            </p>
          </div>

          <div class="bottom-content row">
            <div class="col col-center" style="text-align:center">
              <a class="button" style="background-image:url(img/1_3.png);background-repeat: no-repeat;background-size:contain;margin-top:20px;width:250px;background-color:transparent"  ui-sref="app.tab.home">
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </ion-content>
</ion-view>
