
<ion-view class="walkthrough-view"
          cache-view="false"
          style="background-color: transparent;
          box-shadow: none !important;
          margin-top:15%">

  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center" style="text-align: center">
        <img src="img/head_img.png" style="width: 118px;">
      </div>
    </div>

    <div class="row">
      <input type="text" placeholder="请输入2-12位昵称" style="text-align:center;width:100%;height:48px;margin-top:43px">
    </div>

    <div class="bottom-content row">
      <div class="col col-center" style="text-align:center">
        <a class="button button-positive" style="width:60%;border-radius:40px;margin-top:78px;background-color:#d8d8d8" class="completed-false" ui-sref="auth.log_05">
            完成
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
