<ion-view style="background: #383644;">
  <ion-nav-title>
    <span>预览</span>
  </ion-nav-title>
  <ion-content padding="false" class="has-footer">
    <ion-list>
      <ion-item class="item-avatar item-dark">
        <img src="img/ionic.png">
        <p style="color: #FFAF17;">卡卡</p>
        <p style="color: #898989;">2016.1.12 13:12</p>
        <p style="color: white">我迷路了.</p>
        <img src="img/delorean.jpg" style="width: 100%;">
        <br>
        <p style="background-color: #A6A5AC; display: inline-block; padding: 5px;">
          上海野生丛林</p>
        <ion-option-button
          class="button-positive"
          ng-click="delete(item)">删除
        </ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-dark">
        <img src="img/ionic.png">
        <p style="color: #FFAF17;">卡卡</p>
        <p style="color: #898989;">2016.1.12 13:12</p>
        <p style="color: white">我迷路了.</p>
        <div style="color: black; background-color: #FFAF17; line-height: 30px;
         height: 30px; border-radius: 20px; margin-bottom: 5px;">
          <i class="icon ion-ionic" style="font-size: 25px; margin-left: 10px;"></i>
          <span>9''25'</span>
        </div>
        <p style="background-color: #A6A5AC; display: inline-block; padding: 5px;">
          上海野生丛林</p>
        <ion-option-button
          class="button-positive"
          ng-click="delete(item)">删除
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <div class="title">发布</div>
  </div>
</ion-view>
