<ion-view style="background: #383644;">
  <ion-nav-title>
    <span>草稿箱</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear">编辑</button>
  </ion-nav-buttons>
  <div class="bar bar-subheader bar-balanced">
    <p class="title" style="font-size: 13px; color: black;">点击教你分享只有自己可见的旅途。</p>
  </div>
  <style>
  </style>
  <ion-content padding="false" class="has-subheader">
    <ion-list>
      <div class="item-dark card route-list" style="border-radius: 10%;">
        <div class="item item-avatar item-balanced" style="border-width: 0px; border-color: #FFAF17;">
          <img src="img/head.png">
          <h2>秘密之旅</h2>
          <p>春雨贵如湿哒哒 2015.11.02</p>
        </div>
        <div class="item item-body" style="padding: 0; border-width: 0;">
          <img class="full-image" src="img/delorean.jpg">
        </div>
      </div>
      <ion-item class="item-dark" style="font-size: 14px; text-align: center; border-width: 0; color: #A0A0A0">
        草稿箱的内容仅保存在本地<br>
        请及时分享以防丢失
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
