<ion-view style="background: #383644;">
  <ion-nav-title>
    <span>个人主页</span>
  </ion-nav-title>
  <ion-content padding="false">
    <style>
      .tab_col_active {
        background-color: #FFAF17;
      }
    </style>
    <div style="text-align: center;">
      <img src="img/ionic.png" style="border-radius: 50%;
       border: 1px solid white; width: 80px; margin-top: 20px; margin-bottom: 15px;">
      <p style="color: white; font-size: 22px; margin-bottom: 30px;">sunny大表姐</p>
    </div>
    <div class="row"
         style="text-align: center; padding-left: 10%; padding-right: 10%;
          background-color: #8B5F0C; color: white; padding-top: 0; padding-bottom: 0;">
      <div class="col" ng-click="select_tab(1)" ng-class="{tab_col_active:selected(1)}">5<br>旅程</div>
      <div class="col" ng-click="select_tab(2)" ng-class="{tab_col_active:selected(2)}">15<br>收藏</div>
      <div class="col" ng-click="select_tab(3)" ng-class="{tab_col_active:selected(3)}">77<br>关注</div>
      <div class="col" ng-click="select_tab(4)" ng-class="{tab_col_active:selected(4)}">77<br>粉丝</div>
    </div>
    <ion-list ng-show="selected(1)">
      <div class="item-dark card route-list">
        <div class="item item-avatar item-balanced" style="border-width: 6px; border-color: #FFAF17;">
          <img src="img/ionic.png">
          <h2>秘密之旅</h2>
          <p>春雨贵如湿哒哒 2015.11.02</p>
        </div>
        <ion-slide-box style="height: 150px;">
          <ion-slide>
            <div style="background-color: blue; height: 100%;"></div>
          </ion-slide>
          <ion-slide>
            <div style="background-color: red; height: 100%;"></div>
          </ion-slide>
          <ion-slide>
            <div style="background-color: yellow; height: 100%;"></div>
          </ion-slide>
          <ion-slide>
            <div style="background-color: green; height: 100%;"></div>
          </ion-slide>
        </ion-slide-box>
        <div class="item item-body" style="padding: 0; border-width: 0;">
          <img class="full-image" src="img/delorean.jpg">
        </div>
        <div class="row" style="text-align: center;">
          <div class="col">收藏</div>
          <div class="col">评论</div>
          <div class="col">赞</div>
        </div>
      </div>
    </ion-list>
    <ion-list ng-show="selected(2)">
      <div class="item-dark card route-list">
        <div class="item item-avatar item-balanced" style="border-width: 6px; border-color: #FFAF17;">
          <img src="img/ionic.png">
          <h2>秘密之旅</h2>
          <p>春雨贵如湿哒哒 2015.11.02</p>
        </div>
        <ion-slide-box style="height: 150px;">
          <ion-slide>
            <div style="background-color: blue; height: 100%;"></div>
          </ion-slide>
          <ion-slide>
            <div style="background-color: red; height: 100%;"></div>
          </ion-slide>
          <ion-slide>
            <div style="background-color: yellow; height: 100%;"></div>
          </ion-slide>
          <ion-slide>
            <div style="background-color: green; height: 100%;"></div>
          </ion-slide>
        </ion-slide-box>
        <div class="item item-body" style="padding: 0; border-width: 0;">
          <img class="full-image" src="img/delorean.jpg">
        </div>
        <div class="row" style="text-align: center;">
          <div class="col">收藏</div>
          <div class="col">评论</div>
          <div class="col">赞</div>
        </div>
      </div>
    </ion-list>
    <ion-list ng-show="selected(3)">
      <a class="item item-dark item-avatar" ui-sref="app.home_other">
        <img src="img/ionic.png">
        <h2 style="color: #FFAF17;">gagagagaga</h2>
        <p style="color: white;">粉丝: 2312</p>
      </a>
      <a class="item item-dark item-avatar" ui-sref="app.home_other">
        <img src="img/ionic.png">
        <h2 style="color: #FFAF17;">gagagagaga</h2>
        <p style="color: white;">粉丝: 2312</p>
      </a>
      <a class="item item-dark item-avatar" ui-sref="app.home_other">
        <img src="img/ionic.png">
        <h2 style="color: #FFAF17;">gagagagaga</h2>
        <p style="color: white;">粉丝: 2312</p>
      </a>
      <a class="item item-dark item-avatar" ui-sref="app.home_other">
        <img src="img/ionic.png">
        <h2 style="color: #FFAF17;">gagagagaga</h2>
        <p style="color: white;">粉丝: 2312</p>
      </a>
    </ion-list>
    <ion-list ng-show="selected(4)">
      <a class="item item-dark item-avatar" ui-sref="app.home_other">
        <img src="img/ionic.png">
        <h2 style="color: #FFAF17;">gagagagaga</h2>
        <p style="color: white;">粉丝: 2312</p>
      </a>
      <a class="item item-dark item-avatar" ui-sref="app.home_other">
        <img src="img/ionic.png">
        <h2 style="color: #FFAF17;">gagagagaga</h2>
        <p style="color: white;">粉丝: 2312</p>
      </a>
      <a class="item item-dark item-avatar" ui-sref="app.home_other">
        <img src="img/ionic.png">
        <h2 style="color: #FFAF17;">gagagagaga</h2>
        <p style="color: white;">粉丝: 2312</p>
      </a>
      <a class="item item-dark item-avatar" ui-sref="app.home_other">
        <img src="img/ionic.png">
        <h2 style="color: #FFAF17;">gagagagaga</h2>
        <p style="color: white;">粉丝: 2312</p>
      </a>
    </ion-list>
  </ion-content>
</ion-view>

