<ion-view style="background: #383644;">
  <ion-nav-title>
    <span>发布足迹</span>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear">发布</button>
  </ion-nav-buttons>
  <style>
  </style>
  <ion-content padding="true" scroll="false">
    <div style="height: 95%; background-color: white;border-radius:10px">
      <textarea id="comment-textarea" ng-model="comment.text"
                style="height: 150px; width: 100%; margin-top: 10px; background-color: white;
                 padding: 10px; font-size: 15px; line-height: 20px; border-bottom: 1px solid #aaa;
                 margin-top:10px;border-radius:10px"
                placeholder="遇到什么有趣的事情?">
      </textarea>
      <div style="text-align:center;padding-top:10px">
          <div ng-repeat="photo in photos" style="position:relative;width:82px;display:inline-block">
            <div style="position:absolute; background-color: #ff9c26;
             border-radius: 50%; color: white; height: 20px; width: 20px;
             left:0px;top:0px" ng-click="delete(photo)">
              ×
            </div>
            <img ng-src="{{photo}}" style="width:82px;height:82px;padding:2px">
          </div>
      </div>
      <div class="row" style="text-align: center;postion:relative">
        <div class="col col-33" style="">
          <img src="img/take_photo.png" style="width:82px" ng-click="showActionSheet()">
        </div>
        <div class="col col-33">
          <img src="img/sound_record.png" style="width:82px">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
