<ion-view>
  <ion-nav-title>
    <span>辅助功能</span>
  </ion-nav-title>
  <ion-content padding="false" style="background-color:#272630;">
    <ion-list>
      <ion-item class="item-divider" style="background-color:#272630"></ion-item>
      <ion-toggle style="background-color:#383644;font-family:Microsoft YaHei;color:#FFFFFF">
        提示声音
      </ion-toggle>
      <ion-toggle style="background-color:#383644;font-family:Microsoft YaHei;color:#FFFFFF">
        提示声音
      </ion-toggle>
      <ion-toggle style="background-color:#383644;font-family:Microsoft YaHei;color:#FFFFFF">
        关注列表他人可见
      </ion-toggle>
      <ion-toggle style="background-color:#383644;font-family:Microsoft YaHei;color:#FFFFFF">
        粉丝列表他人可见
      </ion-toggle>
      <ion-item class="item-divider" style="background-color:#272630"></ion-item>
      <ion-item ui-sref="app.blacklist" style="background-color:#383644;font-family:Microsoft YaHei;">
        黑名单列表
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
