<ion-view>
  <ion-nav-title>
    <span>辅助功能</span>
  </ion-nav-title>
  <ion-content padding="false">
    <ion-list>
      <ion-item class="item-divider"></ion-item>
      <ion-toggle>
        提示声音
      </ion-toggle>
      <ion-toggle>
        提示声音
      </ion-toggle>
      <ion-toggle>
        关注列表他人可见
      </ion-toggle>
      <ion-toggle>
        粉丝列表他人可见
      </ion-toggle>
      <ion-item class="item-divider"></ion-item>
      <ion-item ui-sref="app.blacklist">
        黑名单列表
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
