<ion-view>
  <ion-nav-title>
    <span>设置</span>
  </ion-nav-title>
  <ion-nav-back-button ui-sref="app.tab.home">
  </ion-nav-back-button>
  <ion-content style="background-color:#272630;">
    <div class="list">
      <div class="item item-divider" style="background-color:#272630">
      </div>
      <a class="item item-icon-right" href="#" style="background-color:#383644;font-family:Microsoft YaHei;color:#FFFFFF">
        账号管理
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-right" href="#" style="background-color:#383644;font-family:Microsoft YaHei;color:#FFFFFF">
        手机绑定
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-right" ui-sref="app.auxiliary" style="background-color:#383644;font-family:Microsoft YaHei;color:#FFFFFF">
        辅助功能
        <i class="icon ion-chevron-right"></i>
      </a>
      <div class="item item-divider" style="background-color:#272630">
      </div>
      <a class="item item-icon-right" href="#" style="background-color:#383644;font-family:Microsoft YaHei;color:#FFFFFF">
        给DashinGO评价
        <i class="icon ion-chevron-right" ></i>
      </a>
      <a class="item item-icon-right" href="#" style="background-color:#383644;font-family:Microsoft YaHei;color:#FFFFFF">
        意见反馈
        <i class="icon ion-chevron-right"></i>
      </a>
      <div class="item item-divider" style="background-color:#272630">
      </div>
      <a class="item item-icon-right" href="#" style="background-color:#383644;font-family:Microsoft YaHei;color:#FFFFFF">
        清除缓存
        <i class="icon ion-chevron-right"></i>
      </a>
      <div class="item item-divider" style="background-color:#272630">
      </div>
      <a class="item item-icon-right" href="#" style="background-color:#383644;font-family:Microsoft YaHei;color:#FFFFFF">
        关于
        <i class="icon ion-chevron-right"></i>
      </a>
      <div class="item item-divider" style="background-color:#272630">
      </div>
      <div class="row">
        <div class="col col-80 col-offset-10">
          <button class="button button-block button-positive" style="msrgin-top:100px;font-family:Microsoft YaHei;border-radius:50px">
            退出登录
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
