<ion-view>
  <ion-nav-title>
    <span>设置</span>
  </ion-nav-title>
  <ion-nav-back-button ui-sref="app.tab.home">
  </ion-nav-back-button>
  <ion-content padding="false">
    <div class="list">
      <div class="item item-divider">
      </div>
      <a class="item" href="#">
        账号管理
      </a>
      <a class="item" href="#">
        手机绑定
      </a>
      <a class="item" ui-sref="app.auxiliary">
        辅助功能
      </a>
      <div class="item item-divider">
      </div>
      <a class="item" href="#">
        给DashinGO评价
      </a>
      <a class="item" href="#">
        意见反馈
      </a>
      <div class="item item-divider">
      </div>
      <a class="item" href="#">
        清除缓存
      </a>
      <div class="item item-divider">
      </div>
      <a class="item" href="#">
        关于
      </a>
    </div>
  </ion-content>
</ion-view>

