<ion-view view-title="动态" style="background-color: #383644">
  <ion-content padding="false">
    <ion-list>
      <div class="item-dark card route-list">
        <div class="item item-avatar item-balanced" style="border-width: 6px; border-color: #FFAF17;">
          <img src="img/ionic.png">
          <h2>秘密之旅</h2>
          <p>春雨贵如湿哒哒 2015.11.02</p>
        </div>
        <ion-slide-box style="height: 150px;">
          <ion-slide>
            <div style="background-color: blue; height: 100%;"></div>
          </ion-slide>
          <ion-slide>
            <div style="background-color: red; height: 100%;"></div>
          </ion-slide>
          <ion-slide>
            <div style="background-color: yellow; height: 100%;"></div>
          </ion-slide>
          <ion-slide>
            <div style="background-color: green; height: 100%;"></div>
          </ion-slide>
        </ion-slide-box>
        <div class="item item-body" style="padding: 0; border-width: 0;">
          <img class="full-image" src="img/delorean.jpg">
        </div>
        <div class="row" style="text-align: center;">
          <div class="col">收藏</div>
          <div class="col">评论</div>
          <div class="col">赞</div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
