<ion-view view-title="动态" style="background-color: #383644">
  <ion-content padding="false">
    <ion-list>
      <div class="item-dark card route-list" style="border-radius: 10px;" ng-repeat="route in trendRoutes">
        <div class="item item-avatar item-balanced" style="border-width: 0px; border-color: #FFAF17;border-radius: 10px;">
            <img src="{{route.who.headImage}}">
          <div class="row">
            <div class="col" style="position:relative;margin-top:-10px;margin-left:-15px">
              <h2>{{route.title}}</h2>
              <p><span>{{route.who.name}}  </span><span>{{route.when}}</span></p>
            </div>
            <img src="img/page_1.png" style="width:40px;height:10px">
          </div>
        </div>
        <ion-slide-box style="height: 200px;">
          <ion-slide ng-repeat="pic in route.pics">
            <div style="background-image:url({{pic}}); height: 100%;background-position: center;background-size:contain;background-repeat: no-repeat;"></div>
          </ion-slide>
        </ion-slide-box>
        <div class="row" style="text-align: center;background-color:#383644">
          <div class="button-bar">
            <img src="img/icon_1.png" style="width:25px;height:25px;position:relative;top:8px;left:13px;">
            <a class="button button-clear">收藏 21</a>
            <img src="img/icon_2.png" style="width:25px;height:25px;position:relative;top:8px;left:14px;">
            <a class="button button-clear">评论 18</a>
            <img src="img/icon_3.png" style="width:25px;height:25px;position:relative;top:8px;left:17px;">
            <a class="button button-clear">赞 55</a>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
