<ion-view view-title="活动" style="background-color: #383644">
  <ion-content padding="false">
    <ion-slide-box style="height: 150px;" scroll="false">
      <ion-slide>
        <div style="background-color: blue; height: 100%;"></div>
      </ion-slide>
      <ion-slide>
        <div style="background-color: red; height: 100%;"></div>
      </ion-slide>
      <ion-slide>
        <div style="background-color: yellow; height: 100%;"></div>
      </ion-slide>
      <ion-slide>
        <div style="background-color: green; height: 100%;"></div>
      </ion-slide>
    </ion-slide-box>
    <br><br><br><br>
    <p style="color: white; text-align: center; font-size: 23px;">(敬请期待)</p>
  </ion-content>
</ion-view>
