<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<style>
  .tabs {
    border-bottom: none !important;
  }
  .tab-item-active {
    color: #FF9C26 !important;
    border-color: #FF9C26 !important;
  }
</style>
<ion-tabs class="tabs-icon-top tabs-color-light tabs-dark">
  <ion-tab title="主页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="app.tab.home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  <ion-tab title="广场" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref="app.tab.square">
    <ion-nav-view name="tab-square"></ion-nav-view>
  </ion-tab>
  <ion-tab disabled="true"></ion-tab>
  <img src="img/go.png" ng-click="change()"
       style="position: absolute; bottom: 0;
   height: 70px; margin-left: -35px; left: 50%;">
  <ion-tab title="动态" icon-off="ion-ios-analytics-outline" icon-on="ion-ios-analytics" ui-sref="app.tab.trend">
    <ion-nav-view name="tab-trend"></ion-nav-view>
  </ion-tab>
  <ion-tab title="活动" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="app.tab.activity">
    <ion-nav-view name="tab-activity"></ion-nav-view>
  </ion-tab>
</ion-tabs>
